.todo-container {
  margin: 50px auto;
  display: block;
  width: 80%;

  .todo-input-container {
    display: block;

    #todo-input {
      height: 30px;
      width: 100%;
      font-size: 16px;
    }

    .todo-add-button {
      cursor: pointer;
      border-radius: 5px;
      padding: 5px 10px;
      height: 35px;
      font-size: 16px;
      background-color: orange;
      color: white;
      border-color: orange;
      &:hover {
        background-color: #bbb;
        border-color: #bbb;
      }
    }
  }

  .todo-list {
    display: flex;
    flex-direction: column;

    margin-top: 40px;
    padding: 0;

    .todo-list-item {
      list-style: none;
      border: solid #bbb 1px;
      padding: 12px 8px 12px 40px;

      cursor: pointer;

      font-size: 18px;

      transition: 0.2s;
      &:hover {
        background-color: #ddd;
      }

      button {
        padding: 5px;

        i {
          width: 20px;
          height: 20px;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
